
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

body {
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
}

.App {
  height:100%;
  width: 100%;
  position: absolute;
}

.main-wrapper {
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  align-items: stretch;
  height: calc(100% - 50px);
  background-color: blue;

}

.App-link {
  color: #61dafb;
}

/* .header{
  width:100%;
  height:30px;
  top:0;
  background-color: red;
  padding:5px;
  font-size: medium;
} */

.header-drop{
  display: inline;
  float: right;
 
}

/* FOR PREDICATE NAV */
.pred-exp-nav {

  width: 25%;
  background-color: #FFF;
  padding:10px;
  /* flex-shrink: 0; */
}

.ped-wrap {
  background-color: aquamarine;
  height: 20px;
}

.pred-exp-view {
  background-color: yellow;
  width:70%;
}

.pixalate {
  background-color: purple;
  width:70%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  grid-auto-rows: repeat(2, 1fr);
}

.l-top {
  background-color: beige;
  grid-column: 1/3;
  grid-row: 1;
}

.r-top {

  background-color: yellow;
  grid-column: 3/6;
  grid-row: 1;
}

.l-bottom {
  background-color: red;
  grid-column: 1/3;
  grid-row: 2;
}

.r-bottom {

  background-color: green;
  grid-column: 3/6;
  grid-row: 2;
}
