
body {
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
}

.App {
  height:100%;
  width: 100%;
  position: absolute;
}

.head-3{
  letter-spacing: 0.1em;
  font-weight: 700;
  color: gray
}

.main-wrapper {
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  align-items: stretch;
  height: calc(100% - 50px);
  background-color: #f4efefe0;
}

.App-link {
  color: #61dafb;
}

.header-drop{
  display: inline;
  float: right;
 
}
.pred-exp-nav-large {
  /* width: 90%; */
  /* background-color: #FFF; */
  padding:10px;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  overflow-y: auto;
}
/* FOR PREDICATE NAV */
.pred-exp-nav {

  width: 38%;
  /* background-color: #FFF; */
  padding:10px;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  overflow-y: auto;
  /* flex-shrink: 0; */
}

.pred-wrap {
  background-color:white;
  /* background-color: rgb(234, 232, 232); */
  border-radius: 4px;
  margin-top: 5px;
  padding:5px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
}

.feature-nav {
  background-color: #f4efefe0;
  border-radius: 4px;
  margin-top: 5px;
  padding:5px;
  cursor: pointer;
  display:flex;
  flex-direction: column;
}

.feature-line{
  padding-top: 15px;
}

.pred-wrap.hidden {
  opacity: .1;
}

.pred-wrap:hover{
  border: 1px solid rgb(42, 146, 250);
}

.pred-wrap span {
  font-weight: 700;
}

.pred-edit-bar{
  /* background-color: rgb(200, 196, 196); */
  padding: 5px;
  border-radius: 4px;
  margin-top: 10px;
}

.feature-value {
  display: inline;
}

.pred-exp-view {
  /* background-color: yellow; */
  width:70%;
}

.splash-select{
  display: flex;
  justify-content: center;
  align-items: center;
}

.pixalate {
  width:80%;
  gap: 20px;
  margin-top: 10px;
  justify-content: space-around;
  display:flex;
  flex-direction: row;
  /* style={{display: "flex", flexDirection:"row"}} */
}

.pivot-plot{
  width:100%;
}

.left-wrap{
  display:flex;
  flex-direction: column;
  width:35%;
  padding-bottom: 15px;
}

.right-wrap{
  display:flex;
  flex-direction: column;
  /* width:65%; */
  width:95%;
  padding-bottom: 15px;
}


.feature-nav-wrap{
  width: 100%;
}

.pixalate .feature-nav {
  border-radius: 15px;
  padding:5px;
}

.pixalate .feature-nav:hover {
  /* border: 1px solid gray; */
  background-color: #d0cecee0;
}


.l-top {
  /* background-color: #e8e4e4e0; */
  background-color: white;
  display:flex;
  align-items: center;
  border-radius: 15px;
  flex-direction: column;
  overflow-y: auto;
  padding:5px;
  flex-grow : 1;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.feat-nav-wrap{
  overflow-y: scroll;
  /* border: 1px solid gray; */
  display:flex;
  flex-direction: column;
  width: calc(100% - 10px);
}

.r-top {
  /* background-color: #e8e4e4e0; */
  background-color: white;
  display:flex;
  flex-direction: row;
  border-radius: 15px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  height:400px;
}

.marksControl {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: #f4efefe0;
  /* border: 1px solid black; */
  padding:10px;
  margin:10px;
}

.l-bottom {
  display:flex;
  padding:10px;
  margin-top: 10px;
  flex-direction: column;
  border-radius: 15px;
  background-color: white;
  align-items: center;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  height:250px;
}

.r-bottom {
  /* background-color: #e8e4e4e0; */
  background-color: white;
  display:flex;
  flex-grow : 1;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  height:340px;
  overflow-y: scroll;
}

